<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ricardogarcia.politojobs" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Base.Theme.AppCompat.Light.DarkActionBar" >
        <activity
            android:name=".Inbox"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".InboxDescription"
            android:label="@string/title_activity_inbox_description" >
        </activity>
        <activity
            android:name=".CompanyHome"
            android:label="@string/title_activity_company_home" >
        </activity>
        <activity
            android:name=".CompanySearchResults"
            android:label="@string/title_activity_company_search_results" >
        </activity>
        <activity
            android:name=".JobSearchResults"
            android:label="@string/title_activity_job_search_results" >
        </activity>
        <activity
            android:name=".JobSearch"
            android:label="@string/title_activity_job_search" >
        </activity>
        <activity
            android:name=".LogIn"
            android:label="@string/title_activity_log_in" >
        </activity>
        <activity
            android:name=".Registration"
            android:label="@string/title_activity_registration" >

        </activity>
        <activity
            android:name=".StudentHome"
            android:label="@string/title_activity_student_home" >
        </activity>
        <activity
            android:name=".CompanySearch"
            android:label="@string/title_activity_company_search" >



        </activity>

        <activity
            android:name=".ViewCompany"
            android:label="@string/title_activity_view_company" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SendMessage"
            android:label="@string/title_activity_send_message" >
        </activity>
        <activity
            android:name=".ViewJob"
            android:label="@string/title_activity_view_job" >
        </activity>
        <activity
            android:name=".ViewStudent"
            android:label="@string/title_activity_view_student" >
        </activity>
        <activity
            android:name=".SearchStudents"
            android:label="@string/title_activity_search_students" >
        </activity>
        <activity
            android:name=".ResultStudents"
            android:label="@string/title_activity_result_students" >
        </activity>
        <activity
            android:name=".ListJobs"
            android:label="@string/title_activity_list_jobs" >
        </activity>
        <activity
            android:name=".PublishOffer"
            android:label="@string/title_activity_publish_offer" >
        </activity>
        <activity
            android:name=".UpdateOffer"
            android:label="@string/title_activity_update_offer" >
        </activity>
        <activity
            android:name=".ProfileStudent"
            android:label="@string/title_activity_profile_student" >
        </activity>
        <activity
            android:name=".ProfileCompany"
            android:label="@string/title_activity_profile_company" >
        </activity>


    </application>

</manifest>
